.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--gray2);
}

.modal-input {
  display: flex;
  width: 230px;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 30px 100px 0;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  background-color: blue;
}

.modal-input.active {
  opacity: 1;
  visibility: visible;
  background-color: red;
}

#txtBusca {
  padding: 20px;
}

#search-button {
  background-color: var(--blue-primary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 30px 30px 0;
  cursor: pointer;
}

#search-button:hover {
  opacity: 0.8;
}
